body.background{
	background-image: url(images/bg.jpg);
 	background-attachment: fixed;
  	background-size: 102% 125%;
}

.sizebox {
 padding: 5px 0px;
 padding-right: 60px;
 font-size: 20px;
}
.sizebox1{
 padding: 5px 0px;
 padding-left: : 20px;
 font-size: 20px;
}

div.position1{
	margin-left: 30%;
	background-color: grey;
	opacity: 0.9;
	padding: 10px 10px;
	padding-left: 30px;
	width: 40vw;
	padding-top: 40px;
	border-radius: 10px;


}
div.position2{
	margin-left: 40%;
}
h1.header1{
	margin-left: -410px;
	font-family: 'Dancing Script', cursive;	
	font-size: 75px;
	color:white;
	background-color: #c48a66;
	padding-right: 90px;
	padding-left: 900px; 

}
p.Font{
	font-family: 'Oswald', sans-serif;	
	font-size: 25px;
}

button.button{
  font-family: 'Oswald', sans-serif;
  background-color: #c48a66;
  border: none;
  color: black;
  padding: 20px 50px;
  text-align: center;
  font-size: 25px;
  margin-left: 35%;
  margin-bottom: 20px;
  margin-top: 50px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;

}